<div class="row">
  <h1>Prueba Claro Tulio Estrella</h1>
  <div class="form-action" class="col-md-4">
    <div class="col-md-12">

      <select class="form-select" #seleccionada (change)='mostrarOferta(seleccionada.value)' >
        <option *ngFor="let oferta of ofertas; let i = index" value="{{ oferta.versions[0].id }} ">{{ oferta.versions[0].name }}</option>
      </select>

    </div>
  </div>
  <div class="col-md-6">
    <app-offer [id]="idOferta" [nombre]="nombreOferta"></app-offer>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <app-characteristics [caracteristicas]="caracteristicasOferta"></app-characteristics>
  </div>
  <div class="col-md-6">
    <app-prices [precios]="preciosOferta"></app-prices>
  </div>
</div>
