<div class="form-action" class="col-md-12">
    
    <div class="row">
        <div class="col-md-8">
            <h4>Nombre Precio</h4>
        </div>
        <div class="col-md-4">
            <h4>Monto</h4>
        </div>
    </div>
    
    <div *ngFor="let precio of precios; let i = index" class="row">
        <div class="col-md-8">
            <p  class="fs-5 con-borde">{{ precio.versions[0].name }}</p>
        </div>
        <div class="col-md-4">
            <p  class="fs-5 con-borde">{{ precio.versions[0].price.amount }}</p>
        </div>
    </div>
    
     
</div>